<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Submit a fun animal fact here!</h1>
    <form>
        <label for="fact">Fun Fact:</label>
        <input type="text" id="fact" name="fact">
        <input type="submit" value="submit">
    </form>
    <a href="/pets">Go back</a>
</body>
</html>